@font-face {
    font-family: 'Teko-Bold';
    src: url('../fonts/Teko/Teko-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Teko-Light';
    src: url('../fonts/Teko/Teko-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Teko-Medium';
    src: url('../fonts/Teko/Teko-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Teko-Regular';
    src: url('../fonts/Teko/Teko-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Teko-SemiBold';
    src: url('../fonts/Teko/Teko-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}